uvicorn==0.18.2
fastapi==0.79.0
aioredis==2.0.1
dependency_injector==4.39.1
humps~=0.2.2
pydantic~=1.9.1
urllib3~=1.26.10
aiohttp~=3.8.1
sqlalchemy[asyncio]==1.4.37
asyncpg==0.26.0
python-dotenv==0.20.0
